@import 'https://fonts.googleapis.com/css2?family=Share+Tech+Mono';
@import 'https://fonts.googleapis.com/css2?family=Fira+Code';



.home {
    padding: 0.5rem;
    width: 100%;
    display: flex;
    font-family: 'Share Tech Mono', 'Fira Code', 'Liberation Mono', monospace;
    color: #FFF;
    background-color: #333;
    animation: darken 3s ease-in 0s 1 normal forwards;
    z-index: 999;

    button {
        appearance: none;
        border: 1px solid #333;
        background-color: #FFF;
        padding: 0.2rem 0.5rem;
        border-radius: 5px;

        &:disabled {
            background-color: #DDD;
            border-color: #DDD;
            color: #333;
        }
    }
}


@keyframes darken {
    0% {
        background-color: #FFF;
    }
    3% {
        background-color: #000;
    }

    100% {
        background-color: #333;
    }
  }