@font-face {
    font-family: EximaGeometric;
    src: url("./exima_geometric/Exima\ Geometric.otf") format("opentype");
}

.info {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: small;
    >div {
        margin-bottom: 0.5rem;
        box-sizing: border-box;
        &:nth-child(odd) {
            flex-shrink: 0;
            width: 10%;
            text-align: center;
        }
        &:nth-child(even) {
            width: 90%;
            border-left: 1px solid #333;
            padding-left: 1rem;
            a {
                color: inherit;
                font-family: 'Courier New', Courier, monospace;
            }
        }
    }
    
}

.subContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .logout {
        vertical-align: text-bottom;
    }
    button {
        font-size: 2rem;
    }
    .name {
        font-family: EximaGeometric;
        display: block;
        position: absolute;
        font-size: 8rem;
        top: 25vh;
        left: auto;
        right: auto;
        z-index: -1;
        pointer-events: none;
        opacity: 0.3;
        color: #FFF;
    }
}

.section {
    flex-shrink: 0;
    flex-grow: 0;
    width: 30vw;
    display: flex;
    align-items: center;
}