$textBodySize: 1.2rem;

.login {
    width: 100%;
    height: 50%;
    margin: auto;
    text-align: center;
    input {
        display: inline-block;
        padding: 0.5rem;
        appearance: none;
        border: none;
        border-bottom: 1px solid #333;
        margin-bottom: 0.5rem;
        position: relative;
        font-size: $textBodySize;
        &::placeholder {
            text-align: center;
            &::before {
                content: 'username';
                position: absolute;
                left: -10%;
            }
        }
        &:placeholder-shown {
            &::before {
                content: 'password';
                position: absolute;
                left: -10%;
            }
        }

    }
    button {
        appearance: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-variant: small-caps;
        font-size: $textBodySize;
    }

    div.loadBarContainer {
        width: 100%;
        height: 1rem;
    }

    div.loadBar {
        border: 1px solid #EEE;
        width: 100%;
        height: 1px;
        color: transparent;
        &.loggingIn {
            margin: auto auto;
            animation: activate 0.5s ease-in 0s 1 normal forwards, rotato 0.2s linear 0.5s infinite ;
        }
    }
}

@keyframes activate {
    0% {
        border-color: #EEE;
        width: 100%;
        height: 1px;
        border-radius: 0;
        
    }
    25%{
        border-radius: 0;
        border-color: #333;
    }

    90%{
        border-radius: 0;
    }

    100% {
        border-radius: 50%;
        border-color: #333;
        width: 1rem;
        height: 1rem;
    }
  }
@keyframes rotato {
    0% {
        transform: rotate(0deg);
        border-color: #EEE;
        color: #333;
        background-color: lime;

    }
    25%{
        background-color: yellow;
    }
    50%{
        background-color: yellow;
    }
    75%{
        background-color: red;
    }
    100% {
        background-color: cyan;
        transform: rotate(360deg);
    }
}